<!-- Modal -->
<div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="deliveryModalLabel" aria-hidden="true" style="left: 0;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deliveryModalLabel">Hacer pedido</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="jumbotron">
                <div class="form-group">
                    <label for="client-name">Nombre</label>
                    <input type="text" class="form-control" id="client-name" name="client_name"placeholder="Alberto Perez Garzón...">
                </div>
                <div class="form-group">
                    <label for="table-code">Numero de mesa</label>
                    <select class="form-control" id="table-code" name="table_code">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Sugerencias (Opcional)"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Pedir</button>
        </div>
        </div>
    </div>
</div>