<div class="pop_up_container" id="puc">
    <div class="pop_up">
        <div class="pop_up_close" id="pop_up_close">×</div>
        <form action="#" method="get">
            <p><label for="user">Nombre</label></p>
            <p><input type="text" id="user" class="inputData" placeholder="Nombre"></p>
            <p><label for="password">alguna cosa</label></p>
            <p><input type="password" id="password" class="inputData" placeholder="Contraseña"></p>
            <p><label for="view_password">algo</label> <span class="toggle" role="button"><input type="checkbox" id="view_password"><label for="view_password"  role="button"></label></span></p>
            <p><input type="submit" value="Comprar" class="button"></p>
        </form>
    </div>
</div>