
<div class="card_container" id="card_container">
    <input type="hidden" id="ejemplo" value="14134">
</div>

<div>
    <input type="button" value="Comprar" class="button" id="comprarButton">
</div>

