<div style="height: calc(100vh - 6cm);">

</div>
<div class="pop_up">
    <div>
        <h1>Login</h1>
        <form action="/portal/ingresar" method="POST">
            <p><label for="user">Usuario</label></p>
            <p><input type="text" name="worker_username" id="user" class="inputData" placeholder="Usuario"></p>
            <p><label for="password">Contrase침a</label></p>
            <p><input name="worker_password" type="password" id="password" class="inputData" placeholder="Contrase침a"></p>
            <p><label for="view_password">Mostrar Contrase침a</label> <span class="toggle" role="button"><input type="checkbox" id="view_password"><label for="view_password"  role="button"></label></span></p>
            <p><input type="submit" value="Iniciar sesi칩n" class="button"></p>
        </form>
    </div>
</div>

<script src="/public/JS/showSecret.js"></script>

