header{
    width: 100%;
    height: 2cm;
    background: /*#ffbe0b*/ #fb5607;
    margin-bottom: 1cm;
}
header .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 0;
    height: 0;
    border-right: 3cm solid transparent;
    border-bottom: 2cm solid #000000;
    transform: rotateX(180deg);
}
header>img{
    position: relative;
    float: left;
    border-radius: 1mm;
    z-index: 10;
    margin-top: 2mm;
    margin-left: 2mm;
    padding: 1mm 1mm;
    background-color: #000000;
}
nav{
    width: 4cm;
    height: 2cm;
    background-color: transparent;
    justify-content: center;
    overflow: hidden;
    float: right;
    display: flex;
    align-items: center;
}
.loginButton{
    height: auto;
    width: 70%;
    background-color: #000000;
    border: 2px solid #fff;
    padding: 1mm 1mm;
    color: #fff;
    display: inline-block;
    text-align: center;
    transition: 0.2s;
    border-radius: 1mm;
}
.loginButton:hover{
    background-color: #fff;
    color: #000000;
}


/*---------------footer-------------------*/
footer{
    width: 100%;
    height: 2cm;
    background: #01fe91;
    margin-top: 1cm;
}
footer .bg{
    position: relative;
    margin-left: calc(70% - 3cm);
    width: 30%;
    height: 0;
    border-right: 3cm solid transparent;
    border-bottom: 2cm solid #000000;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}