.pop_up{
    position: fixed;
    top: 10%;
    left: 20%;
    height: 80%;
    width: 60%;
    background-color: #dddddd;
    border: 2px solid gray;
    text-align: center;
    user-select: none;
    min-width: 5cm;
    border-radius: 2mm;
}
.pop_up_container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}
.inputData{
    padding: 2mm 2mm;
    width: 50%;
    border-radius: 1mm;
    border: 0.1mm solid gray;
    outline-color: gray;
    min-width: 4cm;
    max-width: 7cm;
}
.pop_up_close{
    width: 5mm;
    height: 5mcm;
    border-radius: 50%;
    border: 1px solid gray;
    margin-top: -2.5mm;
    margin-left: calc(100% - 2.5mm);
    background-color: red;
    color:white;
}