body{
    font-family: 'M PLUS 1 Code', sans-serif;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: url("../img/bg.png");
    background-size: 100%;
}
body>div{
    text-align: center;
    margin-left: 5mm;
}