<!-- <div class="bg"></div> -->

<div class="container-footer-all">
        <div class="container-body">

            <div class="colum1">
                <h1>Mas informacion de la compañia</h1>

                <p>Somos un grupo de estudiantes de programacion, trabajamos en varios proyectos y poco a poco queremos llevarlos adelante, Catsocial es el primero, pero este es solo el comienzo de nuestra carrera.</p>
                
            </div>

            <div class="colum2">

                <h1>Redes Sociales</h1>

                    <div class="row">
                        <img src="/public/img/iconos/youtube.png">
                        <label>Siguenos en Youtube</label>
                    </div>

                    <div class="row">
                        <img src="/public/img/iconos/gorjeo.png">
                        <label>Siguenos en Twitter</label>
                    </div>
            </div>

            <div class="colum3">

                <h1>Informacion contactos</h1>

                <div class="row2">
                    <img src="/public/img/iconos/colombia.png">
                    <label>Colombia</label>
                </div>

                <div class="row2">
                    <img src="/public/img/iconos/telefono-viejo.png">
                    <label>+57 300 4973125</label>
                </div>

                <div class="row2">
                    <img src="/public/img/iconos/correo-electronico.png">
                    <label>dinamoRestApp@gmail.com</label>
                </div>

            </div>

        </div>
    </div>    

    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                ® 2021 Todos Los Derechos Reservados | <a href="">Krhistian Sierra</a>, <a href="">José Martínez</a>, <a href="">Carlos Ospino</a>
            </div>

            <div class="information">
                <a href="">Informacion Compañia</a> | <a href="">Privacidad y Politica</a> | <a href=""> Terminos y Condiciones</a>
            </div>
        </div>
    </div>