<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/CSS/lightStyle.css">
    <link rel="stylesheet" href="public/CSS/pop_up.css">
    <link rel="stylesheet" href="public/CSS/toggle.css">
    <link rel="stylesheet" href="public/CSS/scroll.css">
    <link rel="stylesheet" href="public/CSS/headerFooter.css">
    <link rel="stylesheet" href="public/CSS/standar.css">
    <script src="public/JS/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=M+PLUS+1+Code:wght@200&display=swap" rel="stylesheet"> 
    <title>Dinamo's Restaurant</title>
</head>
<body class="scroll">
    <header>
        {{> header}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        {{> footer }}
    </footer>
</body>
</html>